<!DOCTYPE html>
<html>
<head>
  <title>CodeCore HTML Refresher Page</title>
  <meta name="description" content="This is a page to refersh knowledge of HMTL">
  <meta name="keywords" content="html, codecore, refresher, css">
  <link type="text/css" rel="stylesheet" href="/style.css">
</head>

<body>

<a href="/">Home</a>
|
<a href="/contact">Contact Us</a>
<hr>

<%= yield %>

</body>
</html>