<!DOCTYPE html>
<html>
<head>
  <title>CodeCore HTML Refresher Page</title>
  <meta name="description" content="This is a page to refersh knowledge of HMTL">
  <meta name="keywords" content="html, codecore, refresher, css">

  <style>
    /* Styles p elements with class red-text */
    p.red-text {
      color: red;
      font-size: 20px;
      text-decoration: underline;
      font-weight: bold;
      font-family: sans-serif;
    }

    p {
      font-family: fantasy;
    }

     /* Styles any element with class red-text */
    .red-text {

    }

    .yellow-background {
      background-color: yellow;
      width: 100%;
      min-height: 50px;
      color: green;
    }

    .red-label p {
      font-family: sans-serif;
    }

    p .red-label {
      font-size: 35px; 

    }

    p.red-label {
      color: red;
    }

    p.red-label b, .special-red {

    }

    h2#special-h2 {
      color: purple;
    }

  </style>
</head>

<body>

<%= 5 + 5 %>

<%= 'abc'.capitalize %>

<%= yield %>

</body>
</html>